*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/divinkas/app/githubfinder/ExampleInstrumentedTest.kt
/app/src/test/java/com/divinkas/app/githubfinder/ExampleUnitTest.kt
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/buildSrc/build/tmp/jar/MANIFEST.MF
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/buildSrc/build/kotlin/compileKotlin/build-history.bin
/buildSrc/build/kotlin/compileKotlin/last-build.bin
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/buildSrc/build/classes/kotlin/main/Configuration.class
/buildSrc/build/classes/kotlin/main/Dependencies$AndroidX.class
/buildSrc/build/classes/kotlin/main/Dependencies$Coroutines.class
/buildSrc/build/classes/kotlin/main/Dependencies$ExoPlayer.class
/buildSrc/build/classes/kotlin/main/Dependencies$Koin.class
/buildSrc/build/classes/kotlin/main/Dependencies$Misc.class
/buildSrc/build/classes/kotlin/main/Dependencies$Others.class
/buildSrc/build/classes/kotlin/main/Dependencies$Retrofit.class
/buildSrc/build/classes/kotlin/main/Dependencies$View.class
/buildSrc/build/classes/kotlin/main/Dependencies.class
/buildSrc/build/classes/kotlin/main/Versions$AndroidX.class
/buildSrc/build/classes/kotlin/main/Versions$Coroutines.class
/buildSrc/build/classes/kotlin/main/Versions$Misc.class
/buildSrc/build/classes/kotlin/main/Versions$Other.class
/buildSrc/build/classes/kotlin/main/Versions$View.class
/buildSrc/build/classes/kotlin/main/Versions.class
/buildSrc/build/reports/plugin-development/validation-report.txt
/buildSrc/build/reports/task-properties/report.txt
/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/githubmodule/buildSrc/build/source-roots/buildSrc/source-roots.txt
/githubmodule/buildSrc/build/tmp/jar/MANIFEST.MF
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/githubmodule/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/githubmodule/buildSrc/build/kotlin/compileKotlin/build-history.bin
/githubmodule/buildSrc/build/kotlin/compileKotlin/last-build.bin
/githubmodule/buildSrc/build/kotlin/buildSrcjar-classes.txt
/githubmodule/buildSrc/build/libs/buildSrc.jar
/githubmodule/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/githubmodule/buildSrc/build/classes/kotlin/main/Configuration.class
/githubmodule/buildSrc/build/classes/kotlin/main/Dependencies.class
/githubmodule/buildSrc/build/classes/kotlin/main/Versions.class
/githubmodule/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/githubmodule/buildSrc/build/reports/plugin-development/validation-report.txt
/githubmodule/buildSrc/build/reports/task-properties/report.txt
/githubmodule/src/androidTest/java/com/divinkas/app/githubmodule/ExampleInstrumentedTest.kt
/githubmodule/src/test/java/com/divinkas/app/githubmodule/ExampleUnitTest.kt
